[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.*"

[packages]
python-telegram-bot = "==13.*"
pysocks = "==1.*"
redis = "==4.*"
sqlalchemy = "==1.*"
alembic = "==1.*"
psycopg2-binary = "==2.*"
sentry-sdk = "==1.*"
celery = {extras = ["redis"], version = "==5.*"}
beautifulsoup4 = "==4.*"
python-dateutil = "==2.*"
cloudscraper = "*"
babel = "*"

[requires]
python_version = "3.11"
