[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
python-telegram-bot = "==12.*"
pysocks = "*"
requests = "*"
redis = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
sentry-sdk = "*"
cfscrape = "*"
celery = {extras = ["redis"], version = "*"}

[requires]
python_version = "3.9"
